<% add_decidim_page_title(t(".sign_up")) %>

<main class="wrapper">
<div class="row collapse">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center page-title">
      <h1><%= t(".sign_up") %></h1>
      <p>
        <%= t(".subtitle") %>
      </p>
      <p>
        <%= t(".already_have_an_account?") %>
        <%= link_to t(".sign_in"), new_user_session_path %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 medium-10 medium-centered">
      <div class="card">
        <div class="card__content">
         <% if devise_mapping.omniauthable? && any_social_provider_enabled? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <% if social_provider_enabled? provider %>
              <div class="actions">
                <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button expanded" do %>
                  <%= t("devise.shared.links.sign_up_with_provider", provider: "e-ID")  %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
         <%= render "decidim/devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
