<div class="column" id="<%= dom_id(model) %>">
  <article class="card row <%= card_classes %> card--proposal-list">
    <div class="columns large-8">
      <%= render :label if has_label? %>

      <div class="card__content">
        <%= render :header %>
        <%= render :badge if has_badge? %>
        <%= render :tags %>
      </div>
    </div>

    <div class="columns large-4">
      <%= render :data %>
      <%= render :status %>
      <%= render :footer %>
    </div>

  </article>
</div>
